*{
    margin: 0;
    padding:0;
} 
 
 /* CSS code for the header section */
 header {
    padding: 30px 20px;
    background-color: #41644A;
    color: #fff;
    font-size: 16px;
    margin-bottom: 50px;
  }
  /* CSS code for the search form */
  form {
    padding: 0 20px;
  }
  input[type="text"] {
    width: 300px;
    margin-bottom: 20px;
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 5px #ccc;
  }
  button {
    font-size: 16px;
    padding: 8px 32px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #ccc;
    cursor: pointer;
  }
  button:hover {
    background-color: #0056b3;
  }
  #results{
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .result-card{
    max-width:240px;
    width: 100%;
    background-color: #41644A;
    /* border-radius: 24px; */
    padding: 24px;
    text-align: center;
    margin:0 0 16px 16px;
    cursor: pointer;
  }

.result-card img{
  max-width: 100%;
}

.result-card h3{
  color: #fff;
}
.hide{
  display: none;
}
.show{
  display: block;
}